<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <form action="/artists/<%=@artist.id%>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    Artist: <input type="text" name="artist_name" autofocus>
    <input type="submit" value="Update">
  </form>
</body>
</html>