<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h2>Add a new Artist</h2>
  <form action="/artists" method="POST">
    Artist <input type="text" name="artist_name" autofocus>
    <input type="submit" value="Create Artist">
  </form>
</body>
</html>